body{
     background-color: #808080;
     
     
}

h1,h3{
    color: black;
 display:flex;
 justify-content: center;
}

.img,.firstq,.secq,.img2,.enter,.answer,.xy,.yz{
    display:flex;
    justify-content: center;
}

.main{
    margin: 0 auto;
    display:flex;
    justify-content: center;
}

