body{
     background-color: #808080;
     
}

h1,h3{
    color: black;
 display:flex;
 justify-content: center;
}

.img,.main,.firstq,.secq,.img2,.enter,.answer,.classicalIMG,.jazzIMG{
    display:flex;
    justify-content: center;
}

